.info {
   @include adaptiveValue("margin-bottom", 100, 50);
   // .info__contaier

   &__contaier {}
}

.info-part {
   @include adaptiveValue("margin-bottom", 100, 50);
   display: flex;
   justify-content: space-between;
   // .info-part__title

   &__title {
      font-weight: 300;
      @include adaptiveValue("font-size", 32, 17);
      text-transform: uppercase;
      @include adaptiveValue("margin-bottom", 30, 15);
   }

   // .info-part__textbox

   &__textbox {
      display: flex;
      justify-content: space-between;
      gap: 0 20px;
   }

   // .info-part__text

   &__text {
      @include adaptiveValue("flex-basis", 440, 300);
      // flex-basis: 440px;
      margin-bottom: 30px;

   }

   // .info-part__img

   &__img {
      object-fit: cover;
   }

   // .info-part__content

   &__content {
      @include adaptiveValue("flex-basis", 415, 300);
   }

   // .info-part__table

   &__table {
      @include adaptiveValue("flex-basis", 450, 250);
      border-bottom: 1px solid #040404;
      position: relative;
      top: 20px;

      &::before {
         content: '';
         border-top: 1px solid #040404;
         position: absolute;
         width: 100%;
         top: -20px;
         left: 0;
      }

      td {
         padding-bottom: 20px;
      }

   }
}

.info-part--first {
   display: block;
}

.info-part--second .info__text {
   max-width: 352px;
}

.info-part--table .info__text {
   max-width: 377px;
}

.info-part--table {
   @include adaptiveValue("padding-top", 66, 33);
}

.info-part__table::before {
   // content: '';
   // border-top: 1px solid #040404;
}