.track {
   background: url('@img/trrack-bg.png') center no-repeat;
   background-size: cover;

   &__inner {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
   }

   // .track__title

   &__title {
      font-weight: 300;
      text-transform: uppercase;
      @include adaptiveValue("font-size", 32, 16);
      @include adaptiveValue("padding-bottom", 30, 15);
      @include adaptiveValue("padding-top", 50, 15);
   }

   // .track__text

   &__text {
      max-width: 435px;
   }

   &__img {
      margin: auto auto 90px auto;
   }

}